.btn-lg {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    width: 100%; 
}
.mt-20 {
    margin-top: 20% !important;
}
.form-container {
    width: auto;
    border: 1px solid;
    padding: 0;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.75);
}

.container-fluid {
    margin: 70px !important;
}
.m-70 {
    margin: 70px !important;
}
.profile-image {
    background: #eee;
    width: 50px;
    height: 50px;
}
.profile-panel {
    background: #eee;
    padding: 10px 15px;
    border-radius: 7px;
}
.bi-person-plus {
    font-size: 25px;
    background: #eee;
    padding-top: 5px;
    padding-right: 10px;
    transition: .2s;
}
.profile-name {
    background: #eee;
    padding: 15px;
    font-size: large;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    vertical-align: middle;
}
.add-contact:hover {
    color: grey;
    cursor: pointer;
}
.search-box {
    background: #fafafa;
    padding: 10px 13px;
}
.input-wrapper {
    background: #fff;
    border-radius: 10px;
}
.bi-search {
    background: #fff;
    color: grey;
    font-size: large;
}
input {
    background: #fff;
    width: 80%;
    border: none;
    border-radius: 10px;
}
input::placeholder {
    color: rgb(167, 167, 167);
    font-weight: 350;
    margin-left: 20px;
    padding-left: 10px;
}
input:focus {
    outline: none;
}
.contacts-image {
    width: 50px;
    height: 50px;
    background: white;
}
.selected-contacts-image {
    width: 50px;
    height: 50px;
    background: palegreen;
}
.contacts {
    display: flex;
    padding: 10px 15px;
    vertical-align: baseline;
    background: white;  
}

.selected-contact{
    display: flex;
    padding: 10px 15px;
    vertical-align: baseline;
    background: palegreen !important;  
}
.message {
    margin-left: 12px;
    width: 70%;
    background: white;
}
.selected-message{
    margin-left: 12px;
    width: 70%;
    background: palegreen;
}
.contact-name {
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    vertical-align: middle;
    margin-top: 2px;
    margin-bottom: 0;
    background: white;
}
.selected-contact-name{
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    vertical-align: middle;
    margin-top: 2px;
    margin-bottom: 0;
    background: palegreen; 
}
.text-muted {
    background: white;
    margin: 0;
}
.selected-text-muted{
    background: palegreen;
    margin: 0;
}.contacts:hover .contact-name {
    background: rgb(203, 240, 255);
    cursor: pointer;
    transition: .3s ease; 
}
.contacts:hover img{
    background: rgb(203, 240, 255);
    cursor: pointer;
    transition: .3s ease; 
}
.contacts:hover .message{
    background: rgb(203, 240, 255);
    cursor: pointer;
    transition: .3s ease; 
}
.contacts:hover .text-muted {
    background: rgb(203, 240, 255);
    cursor: pointer;
    transition: .3s ease; 
}
div:hover.contacts {
    background: rgb(203, 240, 255);
    cursor: pointer;
    transition: .3s ease; 
}
hr {
    margin: 5px auto;
    width: 80%;  
}
.col-md-5.contacts-colomn {
    border-right: #eee solid;
    border-width: 1px;
    padding: 0;
    background: white;
    border-radius: 7px;
    padding-bottom: 10px;
}
.col-md-7.chat-colomn {
    border-left: #eee solid;
    border-width: 1px;
    padding: 0;
    width: 58.3%;
}
div.container-fluid.chat {
    margin: 0;
}
.container-fluid.chat {
    margin-left: 0 !important;
    width: 100%;
}
.current-contact {
    border-radius: 7px;
    display: flex;
    padding: 10px 15px;
    vertical-align: baseline;
    background: #eee; 
}
.quote {
    padding-left: 0;
    background: #eee;
}
.current-contact .contact-name {
    padding-top: 2px;
    background: #eee;
}
.current-contact .text {
    padding-left: 15px;
    background: #eee;
}
.chat-colomn {
    background: white;
    border-radius: 7px;
}
.row.chat {
    border-radius: 10px;
    justify-content:center;
    margin-top: 8%;
    margin-left: 5%;
    width: 90vw;
    background: white;
    padding: 0;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
}
.select-text {
    margin: auto;
    position:relative;
    top: 45%;
    width:max-content;
    padding: 0px 5px 3px 5px;
    border-radius: 10px;
    background: rgba(128, 128, 128, 0.5);
    color: white;
}
.contacts-container{
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 55vh;
}
.error{
    color:red
}
.contacts-map .selected-text-muted {
    width: 90%;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.contacts-map .text-muted {
    width: 90%;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;

}
.contacts-map{
    position: relative;
}
.contacts-map .time-text-muted-small{
      font-size:medium;
      right:2%;
      position: absolute;
  }



@media only screen and (max-width:767px) and (min-width: 0px) {
    .row.chat{
        width:90vw;
        margin-left:2% !important;
    }
    
    .col-md-7.chat-colomn{
        margin-top: 2%;
       width: 100vw;
    }
    .select-text{
       top: 0;
       margin-bottom:5%;

    }
  }

  @media only screen and (max-width:1100px) and (min-width: 768px){
    .row.chat{
        width:98vw;
        margin-left: 0% !important;
    }
  }
