.chat-bubble {
    padding: 10px 14px;
    background: #eee;
    margin: 10px 30px;
    width: max-content;
    border-radius: 9px;
    position: relative;
    animation: fadeIn 1s ease-in;
}

.chat-bubble::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom: 0;
    margin-top: -10px;
}

.chat-bubble--left::after {
    left: 0;
    border-right-color: #eee;
    border-left: 0;
    margin-left: -20px;
}

.chat-bubble--right {
    background: rgb(203, 240, 255);
    color: #fff;
}

.chat-bubble--right::after {
    right: 0;
    border-left-color: rgb(203, 240, 255);
    border-right: 0;
    margin-right: -20px;
}

.offset-md-9 {
    direction: rtl;
}

.row.right {
    vertical-align: middle;
    display: flexbox;
}

.chat-panel {
    display: inherit;
    overflow-x: hidden;
    overflow-y: auto;
    height: 55vh;
}

.chat-panel>* .text-muted {
    background: #eee;
}

.chat-panel>* .time {
    font-size: x-small;
}

.chat-bubble--right>.text-muted {
    background: rgb(203, 240, 255);
    direction: ltr;
    max-width: 350px;
    word-wrap: break-word;
}

.chat-bubble--right>.time {
    font-size: x-small;
}

.bi-paperclip {
    font-size: x-large;
}

.bi-send {
    font-size: x-large;
}

.new-message-panel {
    background: #eee;
    display: flex;
    padding: 10px 15px;
    align-items: center;
    bottom: 0;
}

.new-message-panel input {
    margin: 0 10px;
    padding: 6px 2px;
}

.new-message-panel i {
    vertical-align: middle;
}

.input-message {
    width: 100%;
}

.send-message {
    border-color: rgb(177, 233, 255);
    background-color: rgb(177, 233, 255);
}

.send-message:hover {
    color: grey;
    cursor: pointer;
    border-color: rgb(177, 233, 255);
    background-color: rgb(177, 233, 255);
}

.send-message:focus {
    border-color: rgb(177, 233, 255);
    background-color: rgb(177, 233, 255);
    outline: none !important;
    box-shadow: none !important;
}

.input-message.form-control {
    margin-left: 10px !important;
}

.form-control:focus {
    outline: none !important;
    box-shadow: none;
    border-color: #ced4da
}

.dropdown-button {
    border-color: rgb(177, 233, 255);
    background-color: rgb(177, 233, 255);
}

.dropdown-button:hover {
    color: grey !important;
    border-color: rgb(177, 233, 255);
    background-color: rgb(177, 233, 255);
}

.dropdown-button:focus {
    border-color: rgb(177, 233, 255);
    background-color: rgb(177, 233, 255);
    outline: none !important;
    box-shadow: none !important;
}

.image-icon {
    width: 50px;
    margin: 10px;
}

.dropdown-menu.show {
    border: none;
    background-color: transparent;
}

.dropdown-item {
    padding: 0;
    width: fit-content;
}

.dropdown-item:hover {
    background-color: transparent;
}

.dropdown-menu .item-1 {
    animation: growOut 700ms ease-in-out forwards;
    transform-origin: top center;
}

.dropdown-menu .item-2 {
    animation: growOut 600ms ease-in-out forwards;
    transform-origin: top center;
}

.dropdown-menu .item-3 {
    animation: growOut 500ms ease-in-out forwards;
    transform-origin: top center;
}

.dropdown-menu .item-4 {
    animation: growOut 400ms ease-in-out forwards;
    transform-origin: top center;
}

@keyframes growOut {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    80% {
        transform: scale(1.1);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}



  @media only screen and (max-width:239px) and (min-width: 0px) {
    .chat-bubble--right>.text-muted{
        max-width: 100px ;
    }
    .chat-bubble--left>.text-muted{
        max-width: 100px ;
    }
  }

  @media only screen and (max-width:339px) and (min-width:240px) {
    .chat-bubble--right>.text-muted{
        max-width: 150px ;
    }
    .chat-bubble--left>.text-muted{
        max-width: 150px ;
    }
  }

  @media only screen and (max-width:460px) and (min-width: 340px) {
    .chat-bubble--right>.text-muted{
        max-width: 250px ;
    }
    .chat-bubble--left>.text-muted{
        max-width: 250px ;
    }
  }





