.btn-lg {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    width: 100%; 
}
.mt-20 {
    margin-top: 20% !important;
}
.form-container {
    border: 1px solid;
    padding: 10%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.75);
}
.error{
    color:red
}

@media only screen and (max-width:568px) and (min-width: 0px){
    .container-fluid{
        margin-left:0% !important;
        width: 90vw !important;
    
    }
}

