.btn-lg {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    width: 100%; 
}
.mt-20 {
    margin-top: 20% !important;
}
.form-container {
    position:relative;
    border: 1px solid;
    padding: 10%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.75);
}

.img-holder{ 
    height:15%;
    width:20%;
    position: absolute;
    border: 3px solid white;
    border-radius: 5px;
    top: 10px;
    right: 22px;
    border-radius: 50%;
}

.img1{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.error{
    color:red
}
.success{
    border: 3px solid rgb(47, 41, 41);
    margin-bottom: 200px;
    margin-right: 150px;
    margin-left: 700px;
    background-color: rgb(191, 185, 216);
    font-size: 30px;
}
@media only screen and (max-width: 900px) and (min-width: 570px) {
    .form-container {
      width: 55vw;
    }
    .img-holder{ 
        height:12%;
    }
}
